{% extends 'base.html' %}
{% block body %}
    <header class="navbar-fixed">
        <nav class="grey darken-3">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo left orange-text text-lighten-1">SurveyApp</a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger right orange-text"><i
                        class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if current_user.is_authenticated %}
                        <li><a href={{ url_for('main.index') }}>Home <i
                                class="material-icons right orange-text">home</i></a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout<i
                                class="material-icons right orange-text">power_settings_new</i></a></li>
                    {% else %}
                        <li><a href={{ url_for('auth.login') }}>Login<i
                                class="material-icons right orange-text">power_settings_new</i></a></li>
                        <li><a href="{{ url_for('auth.register') }}">Sign Up<i
                                class="material-icons right orange-text">account_circle</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <ul class="sidenav grey-text" id="mobile-sidenav">
        {% if current_user.is_authenticated %}
            <li><a href={{ url_for('main.index') }}>Home <i
                    class="material-icons right orange-text">home</i></a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout<i
                    class="material-icons right orange-text">power_settings_new</i></a></li>
        {% else %}
            <li><a href={{ url_for('auth.login') }}>Login<i
                    class="material-icons orange-text">power_settings_new</i></a></li>
            <li><a href="{{ url_for('auth.register') }}">Sign Up<i
                    class="material-icons orange-text">account_circle</i></a></li>
        {% endif %}
    </ul>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="orange-text">The simple SurveyApp</h5>
                    <p class="grey-text text-lighten-4">Create, share and view surveys!!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="orange-text">Navigation</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 RicardoEstaire
            </div>
        </div>
    </footer>
{% endblock %}